/* Default Shit */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --font-playfair: "Roboto" !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Section */
body {
  color: #333;
}
section {
  padding: 20px 0px;
  font-family: var(--font-playfair) !important;
}

.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
/*Scroll margins*/
#intro {
  scroll-margin: 100px;
}
/* Containers */
#occasies .container,
#motorisaties-cards .container {
  max-width: 75% !important;
}

.col-lg-4,
.col-md-6,
.col-md-12,
.col-sm-12,
.col-xs-12 {
  padding: 10px !important;
}
/*Navigation*/
#mainNav {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 50;
  height: 12vh;
}
.logo {
  height: 100%;
  width: 200px;
}

#mainNav .container {
  height: 100%;
  padding-top: 4px;
}

/* Homepage */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88vh;
}
/* Video */
.vid-container {
  width: 75%;
}
.video {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0 auto;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  height: 100%;
  width: 100%;

  pointer-events: none;
}

.color-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #153465;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.heading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: aliceblue;
  text-transform: uppercase;
}

header .btn {
  border: 2px solid aliceblue;
  color: inherit;
  text-transform: inherit;
  margin: 10px;
}

header .btn:hover {
  background: aliceblue;
}

/* INTRO */
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro .intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#intro .intro-text {
  padding: 40px;
  text-align: justify;
  margin-left: -20px;
  background: rgb(161, 188, 218);
  letter-spacing: 1.3px !important;
  z-index: 2;
}
#intro .intro-text p {
  font-weight: 500;
}

#occasies .card ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-between;
}

/* Motorisaties */

#motorisaties .voordeel-container,
#motorisaties .table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#motorisaties ul {
  padding: 0px;
  margin: 10px 0px 0px;
  overflow: hidden;
  list-style: outside none none;
}
#motorisaties li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;

  font-size: 18px;
}
#motorisaties li:before {
  content: "✔";
  position: absolute;
  left: 0px;
  font-size: 18px;
  color: #153465;
}
#motorisaties table {
  width: 70%;
  margin: 20px 0;
}

#motorisaties table,
#motorisaties th,
#motorisaties td {
  border: 1px solid #333;
  padding: 10px;
}

#motorisaties th,
#motorisaties td {
  text-align: center;
  width: 25%;
}

/* Cards */
@media screen and (max-width: 550px) {
  .card ul {
    flex-direction: column;
  }
}

.card h4 {
  font-size: clamp(20px, 1.9vw, 24px) !important;
}

.card ul {
  list-style: outside none none;
}

.card li {
  font-size: clamp(14px, 2vw, 24px) !important;
  margin-bottom: 10px;
}

.card li:nth-child(1) {
  padding-bottom: 5px !important;
}

.card li {
  display: block;
}

.preview-card ul {
  justify-content: space-between;
}

/* Contact */
.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info {
  border-top-left-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
}

.round {
  border-radius: 0.7rem !important;
}
.photo1 {
  max-width: 80%;
}
/*Contact*/
#contact section {
  display: flex;
  justify-content: center;
}
#contact .contact-container {
  display: flex;
  justify-content: center;
}
#contact i {
  margin-right: 10px;
}
#contact iframe {
  width: 100%;
  height: 50vh;
}
